/**
* @name Technoblade Theme
* @version 1.0
* @description A theme that resembles Technoblade.
* @author Dalk
* @invite technoblade
* @Source https://github.com/catslovetoprogram/Windows-11-light-theme/blob/main/themeSource.theme.css
* @website https://technoblade.com/
*/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
:root {
--background-image: url('https://media.discordapp.net/attachments/534897383989837855/992784883397165057/unknown.png?width=1629&height=916');
--background-image-blur: 5px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://media.discordapp.net/attachments/534897383989837855/992785085520674936/unknown.png?width=1629&height=916');
--popout-modal-blur: 100px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-image: url('https://media.discordapp.net/attachments/534897383989837855/992785235819376700/unknown.png');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.1;
--left-brightness: 0.25;
--middle-brightness: 0.1;
--right-brightness: 0;
--popout-modal-brightness: 0.1;
--gradient-primary: 59,173,183;
--gradient-secondary: 63,81,181;
--gradient-direction: 320deg;
--tint-colour: 255,51,159;
--tint-brightness: 0;
--window-padding: 20px;
--window-roundness: 10px;
--scrollbar-colour: #2CB2FF0D;
--link-colour: #00b0f4;
--show-gift-gif-buttons: none;
--font: 'Whitney';
--update-notice-1: none;
}
